.navbar {
  padding-left: 0;
  background-color: $porcelain;
  color: theme-color(primary) !important;

  .navbar-toggler {
    border-color: transparent;
    color: theme-color(primary);

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(26,50,103, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .navbar-collapse {
    padding-left: 1rem;
  }

  .navbar-nav li {
    @include media-breakpoint-up(lg) {
      padding: 0 $space-m;
    }
  }
}
